#######################################
## htaccess for block important file ##
#######################################

# Block folder list
Options All -Indexes

# htaccess file block
<Files .htaccess>
Require all denied
</Files>

# Protect file configuration_user.php
<files configuration_user.php>
Require all denied
</files>

# Protect file configuration_system.php
<files configuration_system.php>
Require all denied
</files>

# Protect file MMEX_New_Transaction.db
<files MMEX_New_Transaction.db>
Require all denied
</files>